<h1>New User</h1>

<form action="<%= users_url %>" method="POST">
<%= auth_token %>

<label for="username"> Username: </label>
<input type="text" name="user[username]" id="username" value="">

<br><br>

<label for="password"> Password: </label>
<input type="password" name="user[password]" id="password">

<br><br>

 <label for="sign_up"> Sign Up! </label>
<input type="submit" value="Sign Up!" id="sign_up">

</form>
